SCREEN_RESOLUTION="{{ screen_resolution }}"
IMAGE_QUALITY="{{ imagemagick_quality }}"
CONVERT_EXTRA_PARAMS="{{ imagemagick_extra_params }}"

duration={{ slideshow_image_duration }}
dir=/home/pi/Slideshow
maxItems={{ slideshow_max_items }}
welcomeMsg="{{ slideshow_welcome_message }}"
newImagesMsg="{{ slideshow_new_images_message }}"
restartingMessage="{{ slideshow_restarting_message }}"
frameMailAddress="{{ slideshow_mail_address}}"
newMsg="{{ slideshow_new_message }}"
newDays="{{ slideshow_new_days }}"
